/* CONTACT BANNER CSS */

.contact {
    background-image: url(./../images/contacts/contactbannerimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /* padding: 70px 0; */
}

.contact::after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 162, 255);
    mix-blend-mode: multiply;
}

.contact .contact_text h1 {
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 143px;
    padding-bottom: 143px;
}

.contact h1 {
    z-index: 1;
    position: relative;
}

@media(max-width:1885px){
    .contact .contact_text h1 {
        font-size: 100px;
    }
}

@media(max-width:1440px){
    .contact .contact_text h1 {
        font-size: 80px;
    }
}
@media(max-width:1024px){
    .contact .contact_text h1 {
        font-size: 75px;
    }
}
@media(max-width:768px){
    .contact{
        padding: 0;
    }
    .contact .contact_text h1 {
        font-size: 75px;
    }
    .contact_form .contact_form_text p {
        font-size: 18px !important;
    }
}
@media(max-width:425px){
    .contact .contact_text h1 {
        font-size: 50px;
        padding: 50px 0;
    }
}
