/* @font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'riftbold';
    src: url('../fonts/fort_foundry_-_rift-bold-webfont.woff2') format('woff2'),
         url('../fonts/fort_foundry_-_rift-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rift';
    src: url('../fonts/fort_foundry_-_rift-regular-webfont') format('woff'),
         url('../fonts/fort_foundry_-_rift-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'trade_gothic_next_lt_pro_bdRg';
    src: url('../fonts/fontsfree-net-trade-gothic-next-lt-pro-bdcn-webfont.woff2') format('woff2'),
         url('../fonts/fontsfree-net-trade-gothic-next-lt-pro-bdcn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */


body.s51 {
    font-family: 'Roboto', sans-serif !important;    
    font-size: 14px;
}

body.s51 h1, body h2, body h3, body h4, body h5 {
    font-family: 'Barlow Condensed', sans-serif !important;
    text-transform: uppercase;
}

/* .banner .banner_text span.period {
    font-family: 'Roboto', sans-serif !important;   
} */











